.margin{
    margin-top: 40px;
}

.margin-bottom{
    margin-bottom: 0px;
}

.round-borders{
    border-radius: 12px;
}

.image{
    transition: 0.5s ease;
    position: relative;
    border-radius: 5px;
    z-index: 0;
}

.image:hover{
    z-index: 1;
    transform: scale(1.5);
}

@font-face {
    font-family: 'BebasNeue';
    font-weight: 500;
    font-style: normal;
    src: url('BebasNeue-Regular.otf') format('opentype');
}

h5{
 font-family:'BebasNeue', sans-serif;
}

.listBackground{
    opacity: 0.5;
}

.lowMargin{
    margin-top: 20px;
}